@import "tailwindcss";

.container{
    max-width: 1134px;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
